
@media (max-width: 768px) {
    .container {
        max-width: 350px;
        margin: 0 auto;
      }

      .hamburger{
        display: block;

        
      }

      .hambur{
        width: 90px;
      }
}